<!-- ########## H E A D E R ########## -->
<section class="text-center overflow-hidden py-0" id="top">
    <div class="bg-holder overlay overlay-2 parallax" style="background-image:url(/MySite1/MyTheme/img/Dawn_of_Healing.jpg);" data-rellax-percentage="0.5"></div>
    <div class="header-overlay"></div>
    <div class="container" data-zanim-xs='{"duration":1.5,"delay":0.1}'>
        <div class="d-flex flex-center vh-100">
            <div class="header-text">
                <div class="overflow-hidden">
                    <h1 class="display-3 text-400 fs-4 fs-md-5 font-weight-medium">Healing Begins</h1>
                    <p class="text-uppercase text-400 ls-2 mt-2 my-0 py-0">with</p>
                    <p class="my-0 py-0"><span class="fs-7 logo-secondary-style-light">pr<span class="logo-primary-style-light">e</span>vidence<sup class="fs-3 font-weight-light">&reg;</sup></span></p>
                    <p class="text-uppercase fs-1 text-400 ls-2 my-0 py-0 font-weight-medium">Intelligent Mental Healthcare Platform&trade;</p>
                    <p class="text-uppercase fs-1 text-400 ls-2 my-0 py-0 font-weight-medium">BEST PLATFORM EVER!!!</p>
                </div>
                <partial name="_CallToActionLight" />
                <p class="text-uppercase font-italic fs-1 text-400 ls-2 pt-5">Saving Lives, One Mind at a Time<sup>&trade;</sup></p>
            </div>

        </div>
        <partial name="_DownLink" />
    </div>
</section>
<!-- / end  H E A D E R  -->
