{% assign link = Model.ContentItem.Content.LinkMenuItemPart %}
<a class="nav-link js-scroll-trigger" href="{{ link.Url | href }}" data-fancyscroll="data-fancyscroll" data-offset="64"><span class="nav-link-text">{{ link.Name }}</span></a>