<!-- ########## T O P  N A V B A R ########## -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-theme fixed-top py-0 font-weight-bold">
    <div class="container">
        <a class="navbar-brand fs-3 logo-secondary-style-light" href="~/home/">pr<span class="logo-primary-style-light">e</span>vidence<sup class="fs-0 font-weight-light">&reg;</sup></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" id="navbar-one-page">
                {% for item in Model.Items %}
                {{ item | shape_render }}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- / end  T O P  N A V B A R -->